.nav-sg {
    margin-left: 75%;

}

.img-fluid {
    width: 100%;
    height: 110%;
    opacity: 1;
}

.text-block {
    text-align: center;
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 5px black;
    margin-left: 25%;

}

/***** Jadwal *****/

#jadwal {
    box-shadow: 2px 2px 5px black;
}

.jadwal-container {
    padding: 20px;

}

.jdwl {
    width: 100%;

    margin-left: 20%;
}

.jadwal-box {
    margin-top: 30px;
    text-align: left;
}

.jadwal-box .jadwal-box-icon {
    height: 60px;
    margin: 0 auto;
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;
}

.card1 {
    max-width: 18rem;
    margin-left: 20%
}

.txt-jdwl {
    text-align: center;
}

.jadwal-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

.card-text {
    color: rgb(68, 68, 68);
}

.card-header {
    text-align: center;
}

.note {
    color: rgb(173, 40, 40);
    font-style: italic;
    text-align: justify;
}

/***** Kontak *****/
#kontak {
    box-shadow: 2px 2px 5px black;
    margin-top: -20px;
}

.kontak {
    text-align: center;
    font-style: underline;

}

hr {
    width: 25%;
}

.kontak-box {

    text-align: left;
    color: rgb(80, 80, 80);

}

.kontak-box h3 {
    margin-top: 30px;
}

.kontak-box h3 i {
    padding-left: 10px;
    color: #ccc;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.kontak-container .section-bottom-button {
    padding-top: 40px;
}
