#body-row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.sidebar-menu {
    margin-left: 10px;
}

#sidebar-container {

    background-color: #333;
    padding: 0;
    margin-top: 50px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {

    color: black;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {

    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 50%;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.sidebar-expanded {
    background-color: white;
}

.logo-side {
    align-content: center;
}
.mn-awal{
    margin-top:5%;
}
.mn-tgl{
    margin-left:65%;
    color:white;
    font-size:13pt;
    margin-top:5px;
}